<!DOCTYPE html>
<html>

<head>
  <title>Vue for beginners</title>
  <style>
    body {
      height: 100vh;
      display: grid;
      place-items: center;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          todos: [{ id: 0, text: 'do this' }, { id: 1, text: 'do that' }]
        }
      },
      template: 
        `<div>
            <h3>My Vuetiful Todolist</h3>
            <input v-model="newTodo"><button v-on:click="todos.push({ id: todos.length, text: newTodo });newTodo = '';">add</button>
            <ul><li v-for="todo in todos" :key="todo.id">{{todo.text}}</li></ul>
          </div>`
    });
  </script>
</body>

</html>